html {
	padding: 0;
	margin: 0;
}

$screenTablet: 800px;

$colorHeader: rgb(44, 44, 44);
$colorFont: rgb(255, 255, 255);
$colorActiveGender: var(--gender);

body {
	font-family: 'PT Sans', sans-serif;
	padding: 0.5rem 0.75rem;
	background: $colorActiveGender;

	@media (min-width: $screenTablet) {
		padding: 2rem;
	}
}

$colorMale: rgba(0,183,255,1);
$colorFemale: rgba(255,0,183,1);
$colorNB: mix($colorMale, $colorFemale);
$colorAgender: rgba(255,255,255,1);
$colorPointer: rgb(66, 66, 66);

#fan {
	width: 40rem;
	height: 20rem;
	margin: 5rem auto;
	border-radius: 20rem 20rem 0 0;
	position: relative;
	background: $colorAgender;
	background:
		radial-gradient(at 50% 100%, $colorAgender, rgba($colorAgender, 0)),
		linear-gradient(90deg, $colorFemale, $colorNB 40%, $colorNB 60%, $colorMale 100%);
	box-shadow: 0px 0px 5rem rgba(0, 0, 0, 0.35);
}

#pointer {
	$circleSize: 2rem;
	$dotSize: 1.25rem;
	$triangleSize: 1.5rem;

	width: $circleSize;
	height: $circleSize;
	border-radius: 50%;
	background-color: $colorPointer;
	position: absolute;
	margin-top: -0.5 * $circleSize;
	margin-left: -0.5 * $circleSize;
	display: none;

	&:before {
		position: absolute;
		top: 80%;
		left: .21em;
		z-index: 0;
		content: '';
		border-color: $colorPointer transparent;
		border-width: 1.5em 0.8em 0 0.8em;
		border-style: solid;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0.5 * ($circleSize - $dotSize);
		left: 0.5 * ($circleSize - $dotSize);
		border-radius: 50%;
		width: $dotSize;
		height: $dotSize;
		background: $colorActiveGender;
		z-index: 1;
	}
}

header {
	text-align: center;
	font-family: 'Unica One', cursive;
	font-size: 4rem;
	height: 4rem;
	color: white;
	opacity: 0.4;
	text-shadow: 0 0 0.5rem black;
}