$screenTablet: 800px;

$colorMale: rgba(0,140,255,1);
$colorFemale: rgba(255,0,140,1);
$colorNB: mix($colorMale, $colorFemale);
$colorAgender: rgba(255,255,255,1);
$colorPointer: rgb(66, 66, 66);

$colorActiveGender: var(--gender);

@mixin body-font {
	font-family: 'PT Sans', sans-serif;
}
@mixin header-font {
	font-family: 'Unica One', cursive;
}
@mixin transition ($properties...) {
	transition-duration: 250ms;
	transition-property: $properties;
}
@mixin active-text-color {
	color: var(--text);
	@include transition(color);
}

:root {
	--gender: #{rgba($colorNB, 0.65)};
	--dark-text: rgb(90, 90, 90);
	--light-text: rgb(250, 250, 250);
	--text: var(--light-text);
}

html {
	padding: 0;
	margin: 0;
}

body {
	@include body-font();
	@include active-text-color();
	padding: 0.5rem 0.75rem;
	background-color: $colorActiveGender;
	@include transition(background-color);

	@media (min-width: $screenTablet) {
		padding: 2rem;
	}
}

label {
	@include header-font();
	@include active-text-color();
	opacity: 0.7;
	font-weight: bold;
}

#fan-container {
	width: 40rem;
	height: 20rem;
	margin: 5rem auto;
	position: relative;
	display: grid;
	grid-template-columns: auto;
  grid-template-rows: auto;
	grid-template-areas:
		"   .   . nonbinary .  .  "
		"female .  agender  . male";

	path {
		@include transition(fill, filter, transform, stroke-width);
		cursor: pointer;
		stroke-width: 0.1em;

		&:hover {
			filter: drop-shadow( 0 0 .5rem rgba(0, 0, 0, .25));
			transform: scale(1.1);
			stroke-width: 0.15rem;
		}

		&.selected {
			cursor: default;
			filter: drop-shadow( 0 0 1rem rgba(0, 0, 0, .7));
			transform: scale(1.2);
			stroke-width: 0.2rem;
		}
	}

	svg {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: visible;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	label {
		user-select: none;
		font-size: 1.25rem;

		@mixin center {
			justify-self: center;
			margin-left: -1em;
		}
		@mixin bottom {
			align-self: end;
			margin-bottom: -2em;
		}

		&.female {
			grid-area: female;
			justify-self: left;
			@include bottom();
		}
		&.male {
			grid-area: male;
			justify-self: right;
			@include bottom();
		}
		&.nonbinary {
			grid-area: nonbinary;
			@include center();
			align-self: start;
		}
		&.agender {
			grid-area: agender;
			@include center();
			@include bottom();
		}
	}
}

header {
	text-align: center;
	@include header-font();
	@include active-text-color();
	font-size: 4rem;
	height: 4rem;
	opacity: 0.7;
}

#share {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 1.75em;

	ion-icon {
		margin-left: 1em;
		opacity: 0.6;
		@include transition(opacity, filter);

		&:hover {
			opacity: 0.9;
			filter: drop-shadow( 0 0 .5rem rgba(0, 0, 0, .25));
		}
	}
}