<!DOCTYPE html>
<html>
<head>
	{{! Fonts }}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Unica+One&display=swap" rel="stylesheet">

	{{! Style }}
	<link rel="stylesheet" href="/styles.css" />
</head>

<body>

	<header>Gender.Fan</header>
	<div id="fan-container">
		<label class="female">Female</label>
		<label class="agender">Agender</label>
		<label class="male">Male</label>
		<svg id="fan"></svg>
	</div>
	<div id="share">
		<label>Share:</label>
		<a id="share-facebook">
			<ion-icon name="logo-facebook"></ion-icon>
		</a>
		<a id="share-twitter">
			<ion-icon name="logo-twitter"></ion-icon>
		</a>
		<a id="share-link">
			<ion-icon name="link-outline"></ion-icon>
		</a>
	</div>
</body>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="./js/index.js" type="text/javascript"></script>
</html>
